<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1595769816263-9b910be24d5f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fG1vdmllc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1><%= @list.name %></h1>
    <p>This fucking thing</p>
  </div>
</div>

<div class="movie-list">
  <%= link_to "Add a Movie", new_list_bookmark_path(@list.id), class: "add-movie" %>
  <div class="my-movie-list-options">
    <% @bookmarks.each do |bookmark| %>
      <div class="movie-card">
        <div class="movie-item" style="background-image: url(<%= bookmark.movie.poster_url %>)">
          <h2><%= link_to "X", bookmark_path(bookmark), method: :delete, class: "delete-link" %></h2>
        </div>
        <div class="movie-info">
          <h3><%= bookmark.movie.title%></h3>
          <p><%= bookmark.movie.overview%></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
